.login {
  margin: 15px 0px;

  .login-field, .user-information-field {
    margin: 0px 10px;
    float: left;
  }

  .user-information-field {
    margin-top: 5px;
  }
  
  .btn {
    min-height: 36px;
    padding: 0px 20px;
  }
}
