@font-face {
  font-family: 'Allianz Sans Light';
  src: url('/etc/designs/allianz/fonts/allianzsanslight-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Allianz Sans Regular';
  src: url('/etc/designs/allianz/fonts/allianzsansbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
