/*!
 * ACL Framework 0.1
 */

@import "../../acl/clientlib-framework/normalize"; // CSS reset
//@import "../../acl/clientlib-framework/framework"; // Load core variables and mixins
@import "../../acl/clientlib-framework/mixins/mixins";
//@import "defaults/variables";
@import "../../acl/clientlib-framework/defaults/variables-default";
@import "theme-variables"; //treba da se smeni
@import "../../acl/clientlib-framework/defaults/variables-computed";

.utility-classes();

// generate 12-column grid
// by calling mixin .new-column-grid(n)
// n -> number of columns (default: 12)
// use .col as base prefix. Ex: <div class="col sm-6 lg-3">...</div>

.col {
    .new-column-grid();

    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
}

html {
    font-family: "Allianz Sans Light"; /* 1 */
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
}

body {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #414141;
    background-color: #F0F0F0;
}

p {
    line-height: 1.4;
}

p, h1, h2, h3, h4, h5, h6,
.title, .text, .button {
    margin: 30px 0;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
}



//////////////////////////////
//  Forms, inputs, buttons  //
//////////////////////////////

.form-controls();

.default-input-sizes {
    .generate-input-sizing-classes(@gui-sizes, .5);
    .generate-input-styles(16px, .5);  // default value 16px
}

.default-input-styles {
    &:extend(.default-input-sizes);
    width: 100%;
    border: 1px solid transparent;
    outline: 0 none !important;
    background-color: @input-bg;
    resize: vertical;

    &.error {
        color: @brand-danger;
    }
}


textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"] {
    &:extend(.default-input-styles);
}

.btn {
    // Generate button sizes
    .generate-input-sizing-classes(@gui-sizes);
    .generate-input-styles(16px); // default value 16px

    // Generate button color styles
    .generate-button-color-classes(@btn-colors);

    // Generate default button style
    .generate-button-colors(@brand-primary);

    // default style
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    outline: 0 none !important;
    background: @brand-primary;
    color: white;
    text-decoration: none;
    resize: vertical;
}

.btn.compact {
    &:extend(.default-input-sizes);
}

.button-text-bold{
    font-weight: bold;
    font-family: "Allianz Sans Regular";
}

.bg-button {
    background-position: 14px center !important;
    background-repeat: no-repeat !important;
    padding-left: 52px !important;
}



//////////////////////////
//  Custom form styles  //
//////////////////////////

@form-sizes: default 100%, sm 480px, md 640px, lg 800px, xl 960px;

.map.each(@form-sizes, {
    &.form-@{key} {
        max-width: @value;
    }
});