@brand-primary:         #fbcd21;

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%); // Link hover color set via `darken()` function.
@link-hover-decoration: underline; //** Link hover decoration.

@body-bg:               #e5e5e5;
@body-bg-image:         url(/etc/designs/allianz/backgrounds/bg.svg);
@brand-warning:         #fbcd21;

@font-family-sans-serif:  "Allianz Sans Regular";
@font-family-sans-serif-light:  "Allianz Sans Light";

@btn-colors:
primary @brand-primary,
secondary #34495e,
success #449d44,
info #d0cbcb,
warning #fbcd21,
danger #c9302c;

@btn-style-default: {
  .fn(@color){
    background-color: @color;
    border-width: 0px;
    &:hover, &:focus{
      background-color: @color - #111;
      border-width: 0px;
      color: black;
    }
    &:active{
      background-color: saturate(darken(@color - #030303, 12, relative), 15%);
      border-width: 0px;
    }
  }
};

@container-wide: 960px;

@screen-xs:                  0;
@screen-sm:                  576px;
@screen-md:                  576px;
@screen-lg:                  666px;
@screen-xl:                  760px;