<sly data-sly-unwrap data-sly-use.dpicker="nl.tricode.aem.core.models.form.datepicker.DatepickerModel">
    <label data-sly-test="${!dpicker.hideTitle}" class="input-label ${dpicker.required? 'required' : ''}" for="${dpicker.name}">${dpicker.title}</label>
    <div class="input-group">
        <input type='text'
               class="calendar"
               data-format="${dpicker.dateFormat.toUpperCase}"
               dateformat="${dpicker.dateFormat.toUpperCase}"
               data-dateformat-msg="Please use correct date format"
               mindate="${dpicker.minDate}"
               maxdate="${dpicker.maxDate}"
               data-mindate="${dpicker.minDate}"
               data-maxdate="${dpicker.maxDate}"
               data-mindate-msg="${dpicker.minDateErrorMsg}"
               data-maxdate-msg="${dpicker.maxDateErrorMsg}"
               maxlength="10"
               type="text"
               id="${dpicker.name}"
               name="${dpicker.name}"
               required="${dpicker.required}"
               data-required-msg="${dpicker.requiredMessage}"
               placeholder="${dpicker.dateFormat.toUpperCase}"/>
        <div id="calendar-${dpicker.name}" class="calendar-datepicker">
            <div id="month-wrap">
                <div id="bn_prev" role="button" aria-labelledby="Go to previous month" tabindex="0"></div>
                <div id="month" role="heading" aria-live="assertive" aria-atomic="true"></div>
                <div id="bn_next" role="button" aria-labelledby="Go to next month" tabindex="0"></div>
            </div>
            <table id="cal" role="grid" aria-labelledby="month" tabindex="0">
                <thead>
                    <tr id="weekdays">
                        <th id="Sunday">
                            <abbr title="Sunday">Su</abbr>
                        </th>
                        <th id="Monday">
                            <abbr title="Monday">Mo</abbr>
                        </th>
                        <th id="Tuesday">
                            <abbr title="Tuesday">Tu</abbr>
                        </th>
                        <th id="Wednesday">
                            <abbr title="Wednesday">We</abbr>
                        </th>
                        <th id="Thursday">
                            <abbr title="Thursday">Th</abbr>
                        </th>
                        <th id="Friday">
                            <abbr title="Friday">Fr</abbr>
                        </th>
                        <th id="Saturday">
                            <abbr title="Saturday">Sa</abbr>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="error-msg"></div>
</sly>




