header {

    .headerUpperPart {
        padding: 15px 0;
        background: #333;
        background: -webkit-linear-gradient(bottom, #444, #333); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, #444, #333); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, #444, #333); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, #444, #333); /* Standard syntax */
    }

    .header-right {
        float: right;
        margin-right: 20px;
        text-align: right;
    }

    .headerLogo {
        float: left;
        margin-left: 10px;

        img {
            max-width: 80px;
        }
    }

    .headerSearch {
        float: right;
        clear: both;
        margin-top: 15px;
    }

    .headerLanguageSelector {
        float: right;
        margin-bottom: 10px;

        .lang {
            background: fade(white, 30);
            padding: 5px;
            display: inline-block;
            min-width: 1.75em;
            text-align: center;

            a {
                text-decoration: none;
                color: fade(white, 70);
            }
        }
    }

    .headerSocial {
        float: right;
        margin: 0 10px 0 10px;

        .social-icon {
            margin: 0 0 0 10px;
        }
    }
}

@media (min-width: 768px) {
    header {

        .headerLogo {
            margin-left: 18px;
        }

        .headerSearch {
            margin-top: 0;
        }
    }
}