<sly data-sly-use.formFieldModel="nl.tricode.aem.core.models.form.FormFieldModel" data-sly-unwrap>
    <fieldset>
        <legend data-sly-test="${!formFieldModel.hideTitle}">${formFieldModel.title}</legend>
        <div data-sly-resource="${'formFieldPar' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </fieldset>
</sly>