<a data-sly-use.image="nl.tricode.aem.core.models.logo.LogoModel"
   data-sly-unwrap="${!image.linkURL}"
   href="${image.linkURL}" id="logo">
    <img
            src="${image.fileReference}"
            alt="${image.alt}"/>
    <div class="alert alert-warning" data-sly-test="${!image.fileReference && !image.alt && wcmmode.edit}">
        <strong>${"Warning" @ i18n}!</strong> ${"Logo is not configured and cannot be inherited" @ i18n}
    </div>

</a>
<sly data-sly-test="${properties.inlineSVG}">
<sly data-sly-use.logoSVGService="nl.tricode.aem.core.services.LogoSVGService" data-sly-unwrap>

    <div data-sly-test.svgMarkup="${logoSVGService.svgMarkup}" data-sly-unwrap></div>
    <a href="${image.linkURL}">${svgMarkup @ context='unsafe'}</a>


    <sly data-sly-test="${logoSVGService.checkImageType}">
    <script>document.getElementById('logo').remove();</script>
    </sly>

</sly>
</sly>

