<sly data-sly-use.textAreaModel="nl.tricode.aem.core.models.form.TextAreaModel"></sly>
<label data-sly-test="${!textAreaModel.hideTitle}" for="id_${textAreaModel.name}" class="input-label ${textAreaModel.required ? 'required' : ''}">${textAreaModel.title}</label>
<textarea id="id_${textAreaModel.name}"
          name="${textAreaModel.name}"
          placeholder="${textAreaModel.placeholder}"
          maxlength="${textAreaModel.maxLength}"
          data-required-msg="${textAreaModel.requiredMessage}"
          required="${textAreaModel.required}"></textarea>
<div class="error-msg"></div>


