<div class="section">
    <section class="text-color-inherit text-inherit bg-size-cover bg-align-center bg-overlay-0">
        <div class="container component-section">
            <div class="columns">
                <div class="row no-border">
                    <div class="col sm-4">
                        <div data-sly-test="${resource['title/jcr:primaryType']}" data-sly-resource="title"></div>
                        <div data-sly-test="${resource['text/jcr:primaryType']}" data-sly-resource="text"></div>
                    </div>
                    <div class="col sm-8">
                        <div data-sly-test="${resource['parsys/jcr:primaryType']}" data-sly-resource="parsys"></div>
                    </div>
                </div>
            </div>

            <div class="divider parbase">
                <div class="hidden-xs divider-large divider-transparent"></div>
            </div>

            <div class="collapsible" data-sly-test="${resource['more-info/jcr:primaryType']}" data-sly-resource="more-info"></div>
        </div>
    </section>
</div>
