#dateContainer {
    position: relative;
    display: inline-block;
}
.calendar-datepicker {
    position: absolute;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: white;
    z-index: 1;
    display: none;
}
div#month-wrap {
    background-color: #ddd;
    height: 2.4em;
}
div#bn_prev,div#bn_next {
    float: left;
    text-align: center;
    line-height: 2em;
    width: 2em;
    border: 1px solid transparent;
}
div#bn_prev:after {
    content: '\25C0';
}
div#bn_next {
    float: right;
}
div#bn_next:after {
    content: '\25B6';
}
div#bn_prev:hover,
div#bn_prev:focus,
div#bn_next:hover,
div#bn_next:focus {
    background-color: #fc3;
    border: 1px solid #800;
}
div#month {
    float: left;
    width: 199px;
    text-align: center;
    border: 1px solid transparent;
    line-height: 2em;
}
table#cal {
    width: 261px;
    font-size: 1.2em;
    text-align: center;
}
table#cal th,
table#cal td {
    width: 35px;
    height: 30px;
    padding: 0;
}
table#cal td {
    background-color: #ddd;
    border: 1px solid #999;
}

table#cal td.today {
    background-color: #FFF0C4;
    border: 1px solid #999;
}

table#cal td.disabled {
    background-color: #f9f9f9;
    border: 1px solid #999;
    opacity: 0.5;
}

table#cal td.empty {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

table#cal td:hover,
table#cal td.focus {
    border-color: #800;
    background-color: #fc3;
}

table#cal td:not(.disabled):hover,
table#cal td:not(.disabled).focus {
    cursor: pointer;
}

table#cal td.empty:hover {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

[aria-hidden="true"] {
    display: none;
}