<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder section" data-emptytext="Header"></div>

<div class="headerUpperPart">
    <div class="container">
        <div data-sly-resource="logo" class="headerLogo"></div>
        <div data-sly-resource="megamenu" class="headerMegaMenu"></div>
        <div data-sly-resource="search" class="headerSearch"></div>
    </div>
</div>