.divider {
  text-align: center;
}

.divider-none {
  margin: 0;
}

.divider-small {
  margin: 1em 0;
}

.divider-medium {
  margin: 2em 0;
}

.divider-large {
  margin: 3em 0;
}

.divider-plain {
  background-color: white;
}

.divider-dotted {
  border-top: 1px dashed;
}

.divider-solid {
  border-top: 1px solid #E8E6E6;
}

@media (max-width: 767px){
  .divider {
    div {
     display: none;
    }
  }
}