<sly data-sly-unwrap data-sly-use.button="nl.tricode.aem.core.models.button.ButtonModel">
    <div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder section" data-emptytext="Button"></div>
    <div class="text-${button.align}">
        <button role="button"
           class="btn ${button.size} ${button.buttonStyle} ${button.buttonColor} ${button.fontWeight} ${button.hasBgImage?'bg-button':''}"
           style="background-image: url('${button.fileReference @ context='styleString'}');"
           title="${button.title}" aria-label="${button.title}">

            ${button.text}
        </button>
    </div>
</sly>