<sly data-sly-use.image="nl.tricode.aem.core.models.image.Image"></sly>
<div class="text-${image.align}">
    <a
            data-sly-unwrap="${!image.linkUrl}"
            href="${image.linkUrl}"
            onclick="CQ_Analytics.record({event: 'imageClick', values: { imageLink: '${image.linkUrl @ context='scriptString'}', imageAsset: '${image.fileReference @ context='scriptString'}', imageTitle: '${image.fileName @ context='scriptString'}' }, collect: false, options: { obj: this }, componentPath: '${image.resourceType @ context='scriptString'}'})">
        <sly data-sly-test.responsiveClass="${image.responsive ?  'img-responsive' : '' }"></sly>
        <img
                src="${image.src}"
                srcset="${ image.responsive ? image.srcSet : ''}"
                alt="${image.alt}"
                title="${image.title}"
                width="${image.width}"
                height="${image.height}"
                class="${image.cssClass} image-default ${responsiveClass}"
                data-emptytext="Image"/>
    </a>
    <small data-sly-test="${properties.jcr:description}">${properties.jcr:description}</small>
    <map
            data-sly-list="${image.imageMaps.maps}"
            name="${image.imageMaps.name}">
        <area
                shape="${item.type}"
                coords="${item.coords}"
                href="${item.href}"
                target="${item.target}"
                alt="${item.alt}"
                title="${item.title}"/>
    </map>
</div>