.banner {
  @media (max-width: 767px) {
    height: 34.125rem;
    position: relative;
  }

  .banner_main {
    &.background-fit {
      background-size: cover;
    }
    &.background-repeat {
      background-repeat: repeat;
    }
    &.background-fit-and-repeat {
      background-repeat: repeat;
      background-size: contain;
    }
    a {
      color: inherit;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    .banner-inner {
      margin: 0 auto;
      max-width: 1170px;

      .banner-title {
        margin-bottom: 25px;
        h1, h2, h3, p {
          margin-top: 0;
        }
      }

      .banner-text {
        min-height: 20px;
        h1, h2, h3, p {
          margin-bottom: 0;
        }
      }

      @media (max-width: 767px) {
        padding: 0 20px;
        position: absolute;
        bottom: 1.5rem;
      }
    }
  }
}

.banner-title h1, .banner-title h2, .banner-title h3, .banner-title h4, .banner-title h5 {
  font-family: "Bree Serif";
}

.banner_edit_mode {
  height: 30px;
}