<div class="social-share social-share-icon-container"
     data-sly-use.socialshare="nl.tricode.aem.core.models.socialshare.SocialShare">
    <div class="alert alert-warning" data-sly-test="${!socialshare.configured && wcmmode.edit}">
        <strong>${"Warning" @ i18n}!</strong> ${"Social share are not configured!" @ i18n}
    </div>
    <a data-sly-test="${socialshare.facebook}" href="http://www.facebook.com/sharer/sharer.php?u=${socialshare.path}"
       target="_blank">
        <span class="social-share-icon facebook"/>
    </a>
    <a data-sly-test="${socialshare.twitter}" href="https://twitter.com/intent/tweet?text=${socialshare.path}"
       target="_blank">
        <span class="social-share-icon twitter"/>
    </a>
    <a data-sly-test="${socialshare.googleplus}" href="https://plus.google.com/share?url=${socialshare.path}"
       target="_blank">
        <span class="social-share-icon googleplus"/>
    </a>
</div>