<div class="container-fluid acl-footer ${footer.backgroundColor}"
     data-sly-use.footer="nl.tricode.aem.core.models.footer.FooterModel">
    <div class="container">
        <div data-sly-test="${properties.footerTitle}">
            <div class="row"
                 data-sly-resource="${'content1' @ resourceType='wcm/foundation/components/title'}">
            </div>
        </div>
        <div class="row">
            <div class="col xs-6 sm-3"
                 data-sly-resource="${'content1' @ resourceType='wcm/foundation/components/iparsys'}">
            </div>
            <div class="col xs-6 sm-3"
                 data-sly-resource="${'content2' @ resourceType='wcm/foundation/components/iparsys'}">
            </div>
            <div class="col xs-6 sm-3"
                 data-sly-resource="${'content3' @ resourceType='wcm/foundation/components/iparsys'}">
            </div>
            <div class="col xs-6 sm-3"
                 data-sly-resource="${'content4' @ resourceType='wcm/foundation/components/iparsys'}">
            </div>
        </div>
    </div>
    <p class="page__copyright">${"&copy; {0} acl Site. All rights reserved." @ i18n, format=main.year, context='html'}</p>
</div>