.textimage h1, .textimage h2, .textimage h3, .textimage h4, .textimage h5 {
  margin-top: 0;
}

.textimage-left {
  float: left;
  padding-right: 1em;
}

.textimage-right {
  float: right;
  padding-left: 1em;
}

.textimage-text {
  display: table;
}

.textimage:after {
  content: "";
  display: table;
  clear: both;
}