<sly data-sly-use.selectModel="nl.tricode.aem.core.models.form.SelectModel" data-sly-unwrap>
    <div class="cq-placeholder cq-marker-start" data-sly-test="${wcmmode.edit || wcmmode.design}"
         data-emptytext="Select"></div>

    <label class="select-label" for="${selectModel.name}" data-sly-test="${!selectModel.hideTitle}">${selectModel.title}</label>

    <div class="select-container all">
        <select name="${selectModel.name}" id="${selectModel.name}" aria-describedby="${selectModel.name}">
            <sly data-sly-list.selectItem="${selectModel.selectItems}">
                <option value="${selectItem.value}" selected="${optionList.index == 0}" required="${selectModel.required}">
                    ${selectItem.text}
                </option>
            </sly>
        </select>

        <p class="select-placeholder" aria-hidden="true">${selectModel.showEmptyOption !=null ? selectModel.emptyPlaceholder : ''}</p>

        <div class="${selectModel.name} options-container cgroup" id="${selectModel.name}" aria-describedby="${selectModel.name}"
            required="${selectModel.required}" data-required-msg="${selectModel.requiredMessage}">

            <sly data-sly-list.selectItem="${selectModel.selectItems}">
                <input type="radio" id="${selectModel.name}_${selectItemList.index}" class="visuallyhidden"
                       name="${selectModel.name}" value="${selectItem.value}" checked="${selectItemList.index == 0}">
                <label class="option" for="${selectModel.name}_${selectItemList.index}">${selectItem.text}</label>
            </sly>
        </div>
    </div>

    <div class="error-msg"></div>
</sly>