<sly data-sly-resource="section">
    <sly data-sly-resource="sectionPar">
        <sly data-sly-resource="breadcrumb"/>
        <sly data-sly-resource="title"/>
    </sly>
</sly>
<sly data-sly-resource="divider"/>