.link {
  cursor: pointer;
}

.link-large {
  font-size: large;
}

.link-normal {
  font-size: inherit;
}

.link-small {
  font-size: small;
}

.link-font-weight-bold {
  font-weight: bold;
}

.link-greaterthanliststyle ul li{
  list-style: none;
  padding: 0;
  margin-left: -2em;
}

.link-greaterthanliststyle li:before {
  content: '\276d';
  display: inline-block;
  margin-left: 1em;
  padding-right: 0.5em;
  float: left;
  clear: both;
}

.link-greaterthanliststylebold ul li{
  list-style: none;
  padding: 0;
  margin-left: -2em;
}

.link-greaterthanliststylebold li:before {
  content: '\276f';
  display: inline-block;
  margin-left: 1em;
  padding-right: 0.5em;
  float: left;
  clear: both;
}

.link-checkmarkliststyle ul li{
  list-style: none;
  padding: 0;
  margin-left: -2em;
}

.link-checkmarkliststyle li:before {
  content: '\2713';
  display: inline-block;
  margin-left: 1em;
  padding-right: 0.5em;
  float: left;
  clear: both;
}

.link-list-item {
  max-width: 80%;
  float: left;
}