@light-gray: #bbb;
@padding: 5px;

.search {
    max-width: 300px;
}

.search-form {
    position: relative;
    z-index: 1;
    line-height: 0;

    .search-input,
    ul.suggestions,
    ul.suggestions > li {
        width: 100%;
    }

    ul.suggestions {
        display: none;
        padding: 0;
        background: white;
        position: absolute;
        border: 1px solid @light-gray;
        margin-top: -1px;
        overflow-y: auto;
        overflow-x: hidden;
        line-height: 1.5;
        text-align: left;

        .active & {
            display: block;
        }
    }

    li {
        list-style-type: none;
        cursor: pointer;

        &:hover {
            background: #eee;
        }

        &.active,
        &:focus {
            background: #9bd;
        }
    }

    ul.suggestions > li {
        padding-left: @padding;
    }

    .input-group-addon {
        position: relative;
    }

    .search-submit {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: no-repeat center transparent url(/etc/designs/acl/icons/search-icon.svg);
        background-size: 12px;
        border: 0 none;
        text-indent: -9999px;
    }
}