<sly data-sly-use.languageSelector="nl.tricode.aem.core.models.languageselector.LanguageSelectorModel"/>
<span class="lang current">${languageSelector.currentPageLanguage}</span>
<sly data-sly-list.item="${languageSelector.alternatePagesList}">
    <span class="lang"><a href="${item.path}">${item.languageLocale}</a></span>
</sly>