<div class="example" data-sly-use.blockexample="nl.tricode.aem.core.models.allianz.blockexample.BlockExampleComponent">
    <div data-sly-test="${!blockexample.title && !(blockexample.turnover || blockexample.insuredamount || blockexample.premium) && wcmmode.edit}">The block example is not configured!</div>
    <div data-sly-test="${blockexample.title}" class="h3">${blockexample.title}</div>
    <div class="row example-data">
        <span data-sly-test="${blockexample.turnover}" class="col xs-6 example-label">Omzet</span>
        <span data-sly-test="${blockexample.turnover}" class="col xs-6 example-value">€ ${blockexample.turnover}</span>
        <span data-sly-test="${blockexample.insuredamount}" class="col xs-6 example-label">Verzekerd bedrag</span>
        <span data-sly-test="${blockexample.insuredamount}" class="col xs-6 example-value">€ ${blockexample.insuredamount}</span>
        <span data-sly-test="${blockexample.premium}" class="col xs-6 example-label">Premie per jaar</span>
        <span data-sly-test="${blockexample.premium}" class="col xs-6 example-value">€ ${blockexample.premium}</span>
    </div>
</div>