.collapsible {
  width: 100%;
}

.collapsible .collapsible-trigger {
  cursor: pointer;
  display: inline-block;
  max-width: 80%;
}

.collapsible .collapsible-open {
  display: block !important;
}

.collapsible .collapsible-header {
  padding: 6px 6px 3px 6px;
  background-color: #ddd;
  font-weight: bold;
  border-radius: 0;
  padding: 10px 15px;
  color: #555;
}

.collapsible .collapsible-header .pull-right{
  float: right;
}

.collapsible .collapsible-header .pull-right:after{
  content: '\25BC';
}

.collapsible .collapsible-header .pull-right.open:after{
  content: '\25B2';
}

.collapsible .collapsible-header .pull-left{
  float: left;
}

.collapsible .collapsible-header .pull-left:before{
  content: '\25BC';
  margin-right: 10px;
}

.collapsible .collapsible-header .pull-left.open:before{
  content: '\25B2';
  margin-right: 10px;
}

.collapsible > .collapsible-body {
  display: none;
  padding: 6px;
  background: #f0f0f0;
  border-radius: 0;
  padding: 10px 15px;
}