<div data-sly-use.video="nl.tricode.aem.core.models.media.video.VideoModel" data-sly-unwrap>

    <div class="cq-placeholder section" data-emptytext="Video"></div>
    <video data-sly-test="${video.videoSource == 'damVideo' && video.asset}" width="${video.width}" height="${video.height}" controls
           videoautoplay="${video.autoPlay}" class="videodam">
        <source src="${video.asset}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>


    <iframe data-sly-test="${video.videoSource == 'urlVideo' && video.videoUrl}" id="videoembaded" class="video-iframe iframe" width="${video.width}"
            height="${video.height}" videoautoplay="${video.autoPlay}"
            src="${video.videoUrl}" frameborder="0" allowfullscreen>
    </iframe>
</div>

