<sly data-sly-unwrap data-sly-use.checkboxModel="nl.tricode.aem.core.models.form.CheckboxModel">
    <div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder section"
         data-emptytext="Checkbox group"></div>


    <label class="input-label ${checkboxModel.required ? 'required' : ''}" data-sly-test="${!checkboxModel.hideTitle}">
        ${checkboxModel.title}
    </label>
    <div class="input-group cgroup cgroup-${checkboxModel.alignment}"
         required="${checkboxModel.required}"
         data-required-msg="${checkboxModel.requiredMessage}"
         minlength="${checkboxModel.minLength}"
         data-minlength-msg="${checkboxModel.minLengthMsg}">
        <sly data-sly-unwrap data-sly-list.checkboxItem="${checkboxModel.checkboxItems}">
            <label class="c-item">
                <input type="checkbox"
                       id="id_${checkboxModel.name}_${checkboxItemList.count}"
                       name="${checkboxModel.name}"
                       value="${checkboxItem.value}">
                <span class="checkbox-label">${checkboxItem.text}</span>
            </label>
        </sly>
    </div>
    <div class="error-msg"></div>
</sly>