<div class="social-icon-container"
     data-sly-use.socialicons="nl.tricode.aem.core.models.socialicons.SocialIcons">
    <div class="alert alert-warning" data-sly-test="${!socialicons.configured && wcmmode.edit}">
        <strong>${"Warning" @ i18n}!</strong> ${"Social icons are not configured!" @ i18n}
    </div>

    <sly data-sly-list.icon="${socialicons.socialIcons}" data-sly-unwrap>
        <a target="_blank" href="${icon.link}"
           title="${icon.title}">
            <span class="social-icon ${icon.logoType}"/>
        </a>
    </sly>
</div>