@import 'media.less';

/*  Generates sizing classes for inputs and buttons.
    It expects a list with size names and size values in pixels. Example: sm 12px, md 16px, lg 20px
    This will output classes which are named according to the size names. Example: size-sm, size-md, size-lg.
*/
.generate-input-sizing-classes(@sizes; @padding-ratio: 1; @index: 1) when (@index <= length(@sizes)) {
    @sizeDetails: extract(@sizes, @index);
    @sizeName:  extract(@sizeDetails, 1);
    @sizeValue:  extract(@sizeDetails, 2);

    &.size-@{sizeName} {
        .generate-input-styles(@sizeValue; @padding-ratio);
    }

    .generate-input-sizing-classes(@sizes; @padding-ratio; @index + 1);
}


/* Generates styles for inputs and buttons. */
.generate-input-styles(@font-base, @padding-ratio: 1) {
    @line-height-proportion: 1.25;
    @line-height: ceil(@font-base * @line-height-proportion);

    @padding-base: @font-base * @padding-ratio;
    @padding-side-proportions: .875 1.25 .875 1.25;
    @padding-top:       floor(@padding-base * extract(@padding-side-proportions, 1));
    @padding-right:     floor(@padding-base * extract(@padding-side-proportions, 2));
    @padding-bottom:    floor(@padding-base * extract(@padding-side-proportions, 3));
    @padding-left:      floor(@padding-base * extract(@padding-side-proportions, 4));

    @min-size: @line-height + @padding-top + @padding-bottom + 2;

    font-size: @font-base;
    line-height: @line-height;
    min-height: @min-size;
    min-width: @min-size;
    padding: @padding-top @padding-right @padding-bottom @padding-left;
}



/*  Generates color classes for buttons.
    It expects a list with color names and color values in. Example: info #5bc0de, warning #f0ad4e, danger #c9302c.
    This will output classes which are named according to the color names. Example: btn-info, btn-warning, btn-danger.
*/
.generate-button-color-classes(@btn-colors; @index: 1) when (@index <= length(@btn-colors)) {
    @colorDetails: extract(@btn-colors, @index);
    @colorName: extract(@colorDetails, 1);
    @colorValue: extract(@colorDetails, 2);

    &.btn-@{colorName} {
        .generate-button-colors(@colorValue);
    }

    .generate-button-color-classes(@btn-colors; @index + 1);
}


/* Generates the styles for a buttons colors based on a starting color. */
.generate-button-colors(@color) {
    background-color: @color;
    border-color: @color;

    &:hover,
    &:focus {
        background-color: @color - #111;
        border-color: @color - #111;
    }

    &:active {
        background-color: saturate(darken(@color - #030303, 12, relative), 15%);
        border-color: saturate(darken(@color - #030303, 12, relative), 15%);
    }

    &.btn-transparent {
        .generate-btn-transparent-styles(@color);
    }
}


/* The 'transparent' button has no body background, only it's border and text are visible.
    These styles are to be used to together with the regular button color styles (see mixin 'generate-button-colors'). */
.generate-btn-transparent-styles(@color) {
    border-width: 2px;
    border-color: @color;
    background-color: transparent;
    color: @color;

    &:hover,
    &:focus {
        background-color: transparent;
        box-shadow: 0 0 5px fade(@color, 20);
    }

    &:active {
        background-color: transparent;
    }
}


.form-controls() {
    .form-group {
        &:extend(.clearfix all);
        margin-top: @grid-gutter-width / 2;

        &:first-child {
            margin-top: 0;
        }

        .input-label {
            display: block;
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .input-group {
            width: 100%;
        }

        .media.below-every-breakpoint({
            form.horizontal-@{breakpoint-name} & {

                .input-label {
                    width: 120px;
                }

                .input-label + .input-group {
                    width: calc(100% - 120px);
                }

                .input-label + .input-group + .error-msg {
                    padding-left: 120px;
                }

                .input-label + .cgroup {
                    margin-top: 0px;
                }
            }
        });

        form & .input-label {
            & + .input-group {
                width: 100%;
            }
        }

        .input-group-addon {
            &:extend(.default-input-styles);
            display: table-cell;
            vertical-align: middle;
            width: auto;
            background: #aaa;
            border-color: #aaa;
            color: #555;

            input,
            button {
                &:not(:first-child) {
                    .border-left-radius(0);
                }
                &:not(:last-child) {
                    .border-right-radius(0);
                }
            }

            &:not(:last-child) {
                .border-right-radius(0);
            }
            &:not(:first-child) {
                .border-left-radius(0);
            }
        }
    }

    .checkbox,
    .radiobutton {
        .cgroup-horizontal .c-item + .c-item {
            margin-left: 20px;
        }
        .cgroup-vertical .c-item {
            display: block;
        }
        .cgroup {
            margin-top: 10px;
        }

        .cgroup-horizontal .c-item + .c-item {
            margin-left: 20px;
        }
        .cgroup-vertical .c-item {
            display: block;
        }
        .cgroup {
            margin-top: 10px;
        }
    }

    .input-group {
        display: inline-table;

        > input {
            float: left;
        }

        input {
            display: table-cell;
            width: 100%;
        }
    }

    .required-info {
        font-size: small;
        padding: 10px;
    }

    .error-msg {
        display: none;
        font-size: .8125em;
        padding-top: 10px;
        color: @brand-danger;
    }

    .select-container .options-container,
    .select-container .select-placeholder {
        &:extend(.default-input-styles);
        border-width: 0 !important;
    }

    .cgroup .c-item > input:focus {
        outline: 0 none;

        & + .radio-label,
        & + .checkbox-label {
            background: fade(#333, 15);
            box-shadow: 0 0 0 2px fade(#333, 15);
            border-radius: 2px;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
}