@import 'media.less';


// =====================
// Column Grid Generator
// =====================

.new-column-grid(@columns: @grid-columns, @gutter: @grid-gutter-width) {

    /* Generate column classes based on the breakpoint name.
        This mixin creates as many columns as is defined in the '@grid-columns' variable.
        Example:
        .generate-columns-classes(md);  //md-1 { <styles> }, md-2 { <styles> }, etc.
    */
    .generate-columns-classes(@breakpoint-name; @columns: @columns; @index: 1) when (@index <= @columns) {
        &.@{breakpoint-name}-@{index} {
            width: 100% / @columns * @index;
            padding: 0 @gutter/2;
        }

        .generate-columns-classes(@breakpoint-name; @columns; @index + 1);
    }

    /* Generate 'pull' classes based on the breakpoint name.
        This mixin creates as many classes as is defined in the '@grid-columns' variable.
        Example:
        .generate-pull-classes(md);  //md-pull-1 { <styles> }, md-pull-2 { <styles> }, etc.
    */
    .generate-pull-classes(@breakpoint-name; @columns: @columns; @index: 1) when (@index <= @columns) {
        &.@{breakpoint-name}-pull-@{index} {
            right: 100% / @columns * @index;
        }

        .generate-pull-classes(@breakpoint-name; @columns; @index + 1);
    }

    /* Generate 'push' classes based on the breakpoint name.
        This mixin creates as many classes as is defined in the '@grid-columns' variable.
        Example:
        .generate-push-classes(md);  //md-push-1 { <styles> }, md-push-2 { <styles> }, etc.
    */
    .generate-push-classes(@breakpoint-name; @columns: @columns; @index: 1) when (@index <= @columns) {
        &.@{breakpoint-name}-push-@{index} {
            left: 100% / @columns * @index;
        }

        .generate-push-classes(@breakpoint-name; @columns; @index + 1);
    }


    .media.above-every-breakpoint({
        .generate-columns-classes(@breakpoint-name);
        .generate-pull-classes(@breakpoint-name);
        .generate-push-classes(@breakpoint-name);
    });
}