/* Helper mixin that loops through a 'list' and returns a @value variable to use.
    Example:

    @colors: grey, black, red;
    .list.each(@colors, {
        .color-@{value} {
            background: @value;
        }
    });
*/
.list {
    .each(@list; @styles; @index: 1) when (@index <= length(@list)) {
        @value: extract(@list, @index);
        @styles();
        .list.each(@list; @styles; @index + 1);
    }
}


/* Helper mixin that loops through a 'map' and returns a @key and @value variable to use.
    Example:

    @colors: grey #777, grey-light: #ddd, grey-dark: #333;
    .map.each(@colors, {
        .color-@{key} {
            background: @value;
        }
    });
*/
.map {
    .each(@map; @styles; @index: 1) when (@index <= length(@map)) {
        @item: extract(@map, @index);
        @key: extract(@item, 1);
        @value: extract(@item, 2);

        @styles();

        .map.each(@map; @styles; @index + 1);
    }
}