/*  Generates CSS media queries for styling below every breakpoint.
    The variable '@breakpoint-name' can be used inside the given styling to generate
    class names that are different for every breakpoint.

    *** Example:
    .media.below-every-breakpoint({
        .my-button.size-@{breakpoint-name} {
            border-color: green;
        }
    });

    *** Output:
    @media (max-width: 575px) {
        .my-button.size-md {           //.my-button.size-sm, .my-button.size-md, etc.
            border-color: green;
        }
    }
*/
.media {
    .below-every-breakpoint(@styles; @screen-size-names: @screen-size-names; @index: 1) when (@index <= length(@screen-size-names)) {
        @breakpoint-name:           extract(@screen-size-names, @index);
        @breakpoint-value-variable: 'screen-@{breakpoint-name}';
        @breakpoint-value:          @@breakpoint-value-variable;

        @media (max-width: @breakpoint-value) {
            @styles();
        }

        .media.below-every-breakpoint(@styles; @screen-size-names; @index + 1);
    }
}


/*  Generates CSS media queries for styling above every breakpoint.
    The variable '@breakpoint-name' can be used inside the given styling to generate
    class names that are different for every breakpoint.

    *** Example:
    .media.above-every-breakpoint({
        .my-button.size-@{breakpoint-name} {
            border-color: green;
        }
    });

    *** Output:
    @media (min-width: 575px) {
        .my-button.size-md {           //.my-button.size-sm, .my-button.size-md, etc.
            border-color: green;
        }
    }
*/
.media {
    .above-every-breakpoint(@styles; @screen-size-names: @screen-size-names; @index: 1) when (@index <= length(@screen-size-names)) {
        @breakpoint-name:           extract(@screen-size-names, @index);
        @breakpoint-value-variable: 'screen-@{breakpoint-name}';
        @breakpoint-value:          @@breakpoint-value-variable;

        @media (min-width: @breakpoint-value) {
            @styles();
        }

        .media.above-every-breakpoint(@styles; @screen-size-names; @index + 1);
    }
}


/* Builds a media query based on the given parameter.

    .media(sm-, { <styles> });      //Styles are applied above breakpoint SM.
    .media(-sm, { <styles> });      //Styles are applied below breakpoint SM.
    .media(sm-lg, { <styles> });    //Styles are applied above breakpoint SM and below breakpoint LG.
*/
.media(@breakpoint, @styles, @screens: @screen-size-names) {

    @breakpoint-name-without-dash: replace(@breakpoint, "([a-z]{2})?(-)([a-z]{2})?", "$1");  //Checks for 2 characters followed by a dash: md-
    @smallest-screen-size: extract(@screens, 1);
    @from: replace(@breakpoint-name-without-dash, @smallest-screen-size, "");

    @breakpoint-name-without-dash: replace(@breakpoint, "([a-z]{2})?(-)([a-z]{2})?", "$3");  //Checks for 2 characters preceded by a dash: -md
    @largest-screen-size: extract(@screens, length(@screens));
    @to: replace(@breakpoint-name-without-dash, @largest-screen-size, "");


    .query(@styles) when not (@from = ~"") and not (@to = ~"") {
        @min: "screen-@{from}";
        @max: "screen-@{to}";
        .query(@styles, @min, @max);
    }

        .query(@styles, @min, @max) when (@@min < @@max) {
            @media (min-width: @@min) and (max-width: @@max) {
                @styles();
            }
        }

    .query(@styles) when (@from = ~"") and not (@to = ~"") {
        @min : "screen-@{to}";
        @media (min-width: @@min) {
            @styles();
        }
    }

    .query(@styles) when not (@from = ~"") and (@to = ~"") {
        @max : "screen-@{from}";
        @media (max-width: @@max) {
            @styles();
        }
    }

    .query(@styles) when (@from = ~"") and (@to = ~"") {
        @styles();
    }

    .query(@styles);
}