<div class="${wcmmode.edit ? 'video-background-edit' : 'video-background-preview'}">
    <div data-sly-use.video="nl.tricode.aem.core.models.media.video.VideoModel" data-sly-unwrap>

        <div class="cq-placeholder section" data-emptytext="Video Background"></div>

        <div class="cover">
            <div data-sly-resource="${'resourcePath' @ resourceType='wcm/foundation/components/parsys'}"></div>
        </div>

        <div data-sly-test="${!wcmmode.edit}" class="tv" video-opacity="${video.videoOpacity}">
            <div data-sly-test="${video.videoSource == 'urlVideo' && video.youTubeVideoId}" class="screen mute" id="tv" video-id="${video.youTubeVideoId}" mute=${video.mute}></div>
            <video data-sly-test="${video.videoSource == 'damVideo' && video.asset}" class="screen" controls autoplay loop data-sly-attribute.muted="${video.mute}">
                <source src="${video.asset}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="tv"></div>
    </div>
</div>
