<sly data-sly-resource="banner">
    <sly data-sly-resource="bannerParsys">
        <sly data-sly-resource="columns">
            <sly data-sly-resource="field3">
                <sly data-sly-resource="divider"></sly>
                <sly data-sly-resource="grouping">
                    <sly data-sly-resource="groupingPar">
                        <sly data-sly-resource="groupingTitle"></sly>
                    </sly>
                </sly>
            </sly>
        </sly>
    </sly>
</sly>