<div data-sly-use.main="main.js">
    <header>
        <sly data-sly-resource="header"></sly>
    </header>

    <sly data-sly-resource="par">
        <sly data-sly-include="banner.html"/>
        <sly data-sly-include="content-block.html"/>
    </sly>
    <sly data-sly-resource="ipar">
        <sly data-sly-resource="section">
            <sly data-sly-resource="sectionPar">
                <sly data-sly-resource="grouping">
                    <sly data-sly-resource="par">
                        <sly data-sly-resource="title"/>
                        <sly data-sly-resource="columns">
                            <sly data-sly-resource="field1">
                                <sly data-sly-resource="textimage">

                                </sly>
                            </sly>
                            <sly data-sly-resource="field2">
                                <sly data-sly-resource="textimage">

                                </sly>
                            </sly>
                            <sly data-sly-resource="field3">
                                <sly data-sly-resource="textimage">

                                </sly>
                            </sly>
                        </sly>
                    </sly>
                </sly>
                <sly data-sly-resource="divider"/>
            </sly>
        </sly>
    </sly>


    <footer>
        <div data-sly-resource="footer"></div>
    </footer>
</div>