<section>
    <form name="searchform" id="searchform" class="search-form form-group" action="${searchModel.searchResultsPagePath}.html"
          method="GET"
          data-sly-use.searchModel="nl.tricode.aem.core.models.search.SearchModel">
        <div class="input-group">
            <input size="21" maxlength="2048" type="text" class="search-input" name="q" id="searchQuery" autocomplete="off" />
            <span class="input-group-addon">
                <input form="searchform" class="search-submit"  type="submit"/>
            </span>
        </div>
        <ul class="suggestions"></ul>

    </form>
</section>