<sly data-sly-use.textModel="nl.tricode.aem.core.models.form.TextModel"></sly>
<label data-sly-test="${!textModel.hideTitle}" for="id_${textModel.name}" class="input-label ${textModel.required ? 'required' : ''}">${textModel.title}</label>
<div class="input-group" data-sly-unwrap="${!textModel.prefix && !textModel.suffix}">
    <span class="input-group-addon" data-sly-test="${textModel.prefix}">${textModel.prefix}</span>
    <input type="${textModel.type}"
            id="id_${textModel.name}"
            name="${textModel.name}"
            placeholder="${textModel.placeholder}"
            required="${textModel.required}"
            min="${textModel.minValue}"
            max="${textModel.maxValue}"
            minlength="${textModel.minLength}"
            maxlength="${textModel.maxLength}"
            regex="${textModel.regex}"
            data-required-msg="${textModel.requiredMessage}"
            data-regex-msg="${textModel.advancedValidationMsg}"
            data-minlength-msg="${textModel.minLengthMsg}"
            data-maxlength-msg="${textModel.maxLengthMsg}"
            data-min-msg="${textModel.minValueMsg}"
            data-max-msg="${textModel.maxValueMsg}"
        >
    <span class="input-group-addon" data-sly-test="${textModel.suffix}">${textModel.suffix}</span>
</div>
<div class="error-msg"></div>


