.aem-AuthorLayer-Edit {

    .modal {
        display: block;
        position: relative;
        margin-top: 20px;
        border: 1px solid grey;

        .modal-dialog {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}