<sly data-sly-use.uploadModel="nl.tricode.aem.core.models.form.UploadModel"></sly>
<label for="id_${uploadModel.name}" data-sly-test="${!uploadModel.hideTitle}" class="input-label ${uploadModel.required ? 'required' : ''}">${uploadModel.title}</label>
<input type="file"
       id="id_${uploadModel.name}"
       name="${uploadModel.name}"
       data-required-msg="${uploadModel.requiredMessage}"
       data-maxsize-msg="${uploadModel.maxSizeMessage}"
       required="${uploadModel.required}"
       multiple="${uploadModel.multiple}"
       accept="${uploadModel.fileTypes}"
       maxsize="${uploadModel.maxSize}"/>
<div class="error-msg"></div>