@link: #333;
@current: #777;

.breadcrumb {
    display: none;
}

@media (min-width: 768px) {

    .breadcrumb {
        display: block;
        margin: 10px 0;

        .breadcrumb-list {
            padding: 10px 0;
            margin: 0;
            font-size: 14px;
            list-style: none;
        }

        .breadcrumb-item {
            float: left;
            position: relative;
            padding-right: 20px;

            &:after {
                content: "/";
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 7px;
                color: @link;
                font-weight: bold;
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            a {
                color: @link;
            }

            &.active {
                color: @current;
            }
        }
    }
}