<sly data-sly-use.password="nl.tricode.aem.core.models.form.password.PasswordModel"></sly>
    <label data-sly-test="${!password.hideTitle}" class="input-label ${password.required ? 'required' : ''}" for="id_${password.name}">${password.title}</label>
    <input type="password"
           name="${password.name}"
           id="id_${password.name}"
           required="${password.required}"
           data-required-msg="${password.requiredMessage}"
           autocomplete="${password.autocomplete == true ? 'off':''}">
<div class="error-msg"></div>