<nav role="navigation">
    <div class="container"
         data-sly-use.socketLinks="nl.tricode.aem.core.models.allianz.footersocket.AllianzFooterSocketComponent">
        <div class="alert alert-warning" data-sly-test="${!socketLinks.configured && wcmmode.edit}">
            <strong>${"Warning" @ i18n}!</strong> ${"Socket links are not configured!" @ i18n}
        </div>

        <div class="row">
            <ul class="list-unstyled col-sm-12 navbar-nav clearfix" data-sly-list.link="${socketLinks.socketLinks}">
                <li>
                    <a title="${link.title}" href="${link.link}">${link.linkText}</a>
                </li>
            </ul>

            <div data-sly-resource="socialicons" class="social-links"></div>

        </div>
    </div>

</nav>
