<sly data-sly-use.collapsible="nl.tricode.aem.core.models.collapsible.CollapsibleComponent" data-sly-unwrap>

    <div class="collapsible-header">
        <div class="collapsible-trigger ${collapsible.iconPosition} ${collapsible.defaultState == 'block' ? 'open' : ''}"></div>
        <span class="collapsible-trigger">${collapsible.linkText @ i18n}</span>
    </div>
    <div class="collapsible-body ${wcmmode.edit ? 'collapsible-open' : ''}"
         style="display: ${collapsible.defaultState @ context='styleString'};">
        <div data-sly-resource="${'resourcePath' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </div>

</sly>