<div data-sly-use.download="nl.tricode.aem.core.models.download.DownloadComponent">
    <a href="${download.href}" title="${download.title}" download="${download.href}" target="_blank"
       onclick="CQ_Analytics.record({event: 'startDownload', values: { downloadLink: '${download.href @ context='scriptString'}' }, collect:  false, options: { obj: this, defaultLinkType: 'd' }, componentPath: '${resource.resourceType @ context='scriptString'}'})">
        <span class="acl-download-icon type_${download.iconType}"></span>
        &nbsp; ${download.displayText}</a><br>
    <small data-sly-test=${download.description}>${"Description" @ i18n}: ${download.description}<br></small>
    <small>${"Size" @ i18n}: ${download.size} KB</small>
</div>
<div class="clear"></div>
