<!--/* see http://schema.org/BreadcrumbList */-->
<sly data-sly-unwrap data-sly-use.breadcrumb="nl.tricode.aem.core.models.breadcrumb.BreadcrumbComponent">

    <div class="breadcrumb">
        <div class="container">

            <ol class="breadcrumb-list clearfix" itemscope itemtype="http://schema.org/BreadcrumbList" data-sly-list.item="${breadcrumb.items}">

                <li class="breadcrumb-item ${itemList.last ? 'active' : ''}" itemprop="itemListElement" itemscope
                    itemtype="http://schema.org/ListItem">
                    <a title="${item.name}" itemprop="item" href="${item.link}" data-sly-unwrap="${itemList.last}">
                        <span itemprop="name">${item.name}</span>
                    </a>
                    <meta itemprop="position" content="${item.position}" data-sly-test="${!itemList.last}"/>
                </li>

            </ol>

        </div>
    </div>
</sly>