<sly data-sly-use.link="nl.tricode.aem.core.models.link.LinkModel" data-sly-unwrap>
    <div data-sly-test="${link.text}" class="text-${link.align}">
        <a href="${link.link}" target="${link.newPage ? '_blank' : '_self'}" class="link-${link.size}" title="${link.title}" aria-label="${link.title}">${link.text}</a>
    </div>
    <span data-sly-test="${!link.text}">New link</span>
</sly>