<div class="acl-homepage">
    <header>
        <sly data-sly-resource="header"></sly>
    </header>

    <div data-sly-resource="banner"></div>

    <div data-sly-resource="par">
        <div data-sly-resource="section"></div>
    </div>

    <footer>
        <div data-sly-resource="footer"></div>
    </footer>
</div>