<sly data-sly-unwrap data-sly-use.anchor="nl.tricode.aem.core.models.anchor.AnchorComponent">

    <div class="cq-placeholder cq-marker-start" data-sly-test="${wcmmode.edit || wcmmode.design}" data-emptytext="Anchor: ${!anchor.anchorId ? '(not configured)' : anchor.anchorId }"></div> 
    
    <sly data-sly-unwrap data-sly-test="${anchor.anchorId}">
        <a name="${anchor.anchorId}"></a>
    </sly>
</sly>