.grouping_bg_color_blue {
  background-color: blue;
  overflow: hidden;
}

.grouping_bg_color_black {
  background-color: black;
  overflow: hidden;
}

.grouping_bg_color_white {
  background-color: #ffffff;
  overflow: hidden;
}

.grouping_bg_color_gray {
  background-color: #454545;
  overflow: hidden;
}

.grouping_padding_small {
  padding: 5px;
}

.grouping_padding_medium {
  padding: 20px;
}

.grouping_padding_big {
  padding: 80px;
}

@media (max-width: 767px){
  .group-inner {
    padding: 0 20px;
      .group-inner {
        padding: 0;
      }
  }
}