.acl-download-icon {
  background: left top;
  background-image: url(/etc/designs/acl/icons/other.svg);
  background-size: contain;
  width:16px;
  height:16px;
  display: block;
  float: left;

  &.type_png,&.type_jpg {
    background-image:url(/etc/designs/acl/icons/image.svg);
  }

  &.type_doc,&.type_docx {
    background-image:url(/etc/designs/acl/icons/word.svg);
  }

  &.type_xls,&.type_xlsx {
    background-image:url(/etc/designs/acl/icons/excel.svg);
  }

  &.type_pdf {
    background-image:url(/etc/designs/acl/icons/pdf.svg);
  }
}