/* Creates spacing helper classes like mt-5, pb-10, etc.

    Creation of the classes is based on the given map. An example map would be: 5 5px, 10 10px.
    The first value is added to the class name and the second is the actual value the CSS property will get.
    For this example map some of the properties will be: mt-5 {margin-top: 5px;}, pl-5 {padding-left: 5px;}, etc.

    Another example could be using rem values as Bootstrap likes to do.
    Example map: 1 1rem, 2 2rem;
    Example output: mb-1 {margin-bottom: 1rem;}, p-2 {padding: 2rem;}, etc.
*/

@properties: m margin, p padding;

.spacing-classes(@sizes; @index: 1) when ( @index <= length(@sizes) ) {

    @size: extract(@sizes, @index);
    .spacing-classes-create(@size);
    .spacing-classes(@sizes; @index + 1);
}

.spacing-classes-create(@size; @index: 1) when ( @index <= length(@properties) ) {

    @sizeName: extract(@size, 1);
    @sizeValue: extract(@size, 2);
    @propertyName: extract(extract(@properties, @index), 1);
    @propertyValue: extract(extract(@properties, @index), 2);

    .@{propertyName}-@{sizeName} { @{propertyValue}: @sizeValue; }
    .@{propertyName}t-@{sizeName} { @{propertyValue}-top: @sizeValue; }
    .@{propertyName}r-@{sizeName} { @{propertyValue}-right: @sizeValue; }
    .@{propertyName}b-@{sizeName} { @{propertyValue}-bottom: @sizeValue; }
    .@{propertyName}l-@{sizeName} { @{propertyValue}-left: @sizeValue; }

    .spacing-classes-create(@size; @index + 1);
}

.spacing-classes(@spacingSizes);