<form data-sly-use.formsModel="nl.tricode.aem.core.models.form.FormsModel" class="form-${formsModel.formWidth} ${formsModel.horizontalLabels}" action="${resource.path}.submit.html"
      novalidate="novalidate"
      method="${formsModel.method}" enctype="multipart/form-data">

    <div data-sly-resource="${'formPar' @ resourceType='wcm/foundation/components/parsys'}"></div>

    <span data-sly-test="${formsModel.validationMessage}" id="${formsModel.validationMessage.statusCode}" style="color: red">${formsModel.validationMessage.description}</span>

    <div class="form-group">
        <div class="text-${formsModel.buttonAlign}">
            <button type="submit" class="btn ${formsModel.buttonStyle} ${formsModel.buttonSize}">${formsModel.buttonText}</button>
        </div>
    </div>

    <div data-sly-test="${(wcmmode.edit || wcmmode.design)&& !formsModel.requiredMessage}" class="required-info">If you are using required fields, please add a description in the dialog what asterisk indicates</div>

    <div data-sly-test="${formsModel.requiredMessage}" class="required-info">* ${formsModel.requiredMessage}</div>
</form>
