/* Footer component */
.footer {
  background-color: #E4E4E4;
  color: #6C6C6C;
  padding: 1.5rem 0 0;

  h3 {
    font-size: 0.875rem;
    font-weight: 600;
    color: #707372;
    margin: 10px 0;
  }
  li {
    font-size: 0.875rem;
  }

  a {
    color: #6C6C6C;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.75rem;
    text-decoration: none;
  }
  a:hover {
    color: #000;
  }

  .navbar {
    padding-bottom: 60px;
    .footer-list {
      margin-bottom: 1.25rem;
      padding-left: 0;
      img {
        display: inline-block;
        box-sizing: content-box;
      }
    }
  }

  .socket {
    background-color: #828282;
    a {
      color: white;
    }
    a:hover, a:focus {
      color: rgba(255, 255, 255, 0.8);
    }
    ul li {
      margin-right: 1.5rem;
      height: 2.875rem;
      line-height: 2.875rem;
      font-size: 0.875rem;
      float: left;
    }

    .social-links {
      list-style: none;
      padding: 0;
      overflow: hidden;
      clear: both;
      margin: 7px auto;

      .social-icon {
        width: 34px;
        height: 34px;
        margin-left: 0;
      }

      .social-icon.facebook {
        background-image: url(../../../../../../../etc/designs/allianz/icons/social/logo-facebook.png);
      }
      .social-icon.twitter {
        background-image: url(../../../../../../../etc/designs/allianz/icons/social/logo-twitter.png);
      }
      .social-icon.linkedin {
        background-image: url(../../../../../../../etc/designs/allianz/icons/social/logo-linkedin.png);
      }
      .social-icon.youtube {
        background-image: url(../../../../../../../etc/designs/allianz/icons/social/icon-youtube.svg);
      }
    }
  }

  .navbar-nav {
    width: auto;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media (min-width: 1200px){
  .footer .container {
    width: 960px;
  }
}

@media (max-width: 767px) {
  .footer {
    h3 {
      font-size: 1.125rem;
    }
    li {
      font-size: 1.125rem;
    }
    a {
      font-size: 1.125rem;
    }
    .navbar {
      padding-left: 10px;
      padding-right: 10px;
    }
    .socket {
      .social-links {
          margin: 0 auto;
      }
      ul li {
        font-size: 1.125rem;
      }
    }
    .navbar-nav {
      margin: 0;
    }

    .container {
      padding-left: 20px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer{
    .socket .social-links {
      position: absolute;
      right: 0;
    }
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  line-height: 2;
}

.navbar-nav > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}