
  .video-iframe {
    width: 100%;
    height: 100%;
  }

  .video-background-edit {
    position: relative;
  }

  .video-background-preview {
    position: relative;
    min-height: 100vh;
  }
  
  .cover {
    padding: 100px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    .hi {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      color: #fff;

      font-family: 'Roboto Slab', serif;
      font-size: 24px;
      line-height: 26px;
      text-align: center;

      span {
        color: #ff0;
        cursor: pointer;
        text-decoration: underline;
      }

      em {
        font-style: normal;

        &.hidden {
          display: none;
        }
      }
    }
  }

  .tv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    overflow: hidden;

    opacity: 0;

    .screen {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      margin: auto;

      opacity: 1;
      transition: opacity .5s;

    }
  }
