<div data-sly-use.columns="nl.tricode.aem.core.models.columns.ColumnsComponent">
    <div class="cq-placeholder section-part" data-sly-test="${wcmmode.edit || wcmmode.design}">Start of ${columns.noColumns} column layout</div>
        <div class="row ${columns.borderStyle} ${columns.bgColor}" data-sly-list="${columns.layouts}">
            <div class="col sm-${item}" data-sly-test.resourcePath="${'{0}{1}' @ format=['field', itemList.count]}">
                <div data-sly-resource="${resourcePath @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
        </div>
    <div class="cq-placeholder section-part" data-sly-test="${wcmmode.edit || wcmmode.design}">End of ${columns.noColumns} column layout</div>
</div>