@link: #414141;
@current: #777;

.breadcrumb {
    display: none;
}

@media (min-width: 768px) {

    .breadcrumb {
        display: block;
        margin: 10px 0;

        .breadcrumb-list {
            padding: 10px 0;
            margin: 0;
            font-size: 14px;
            list-style: none;
        }

        .breadcrumb-item {
            float: left;
            position: relative;
            padding-right: 5px;

            &:after {
              content: "";
              margin-left: 7px;
              color: #999;
              background-image: url(../../icons/breadcrumb.svg);
              width: 8px;
              height: 8px;
              display: inline-block;
              background-size: contain;
              background-repeat: no-repeat;
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            a {
                color: @link;
                &:hover {
                  color: #0077C8;
                }
            }

            &.active {
                color: @current;
            }
        }
    }
}