.collapsible {
  width: 100%;
}

.collapsible .collapsible-trigger {
  cursor: pointer;
  display: inline-block;
  max-width: 80%;
}

.collapsible .collapsible-open {
  display: block !important;
}

.collapsible .collapsible-header {
  padding: 6px 6px 3px 6px;
  background-color: white;
  border-radius: 0;
  padding: 10px 15px;
  color: #525252;
}

.collapsible .collapsible-header.open {
  font-weight: bold;
}

.collapsible .collapsible-header .pull-right{
  float: right;
}

.collapsible .collapsible-header .pull-right:after{
  content: '\002B';
}

.collapsible .collapsible-header .pull-right.open:after{
  content: '\2212';
}

.collapsible .collapsible-header .pull-left{
  float: left;
}

.collapsible .collapsible-header .pull-left:before{
  content: '\002B';
  margin-right: 10px;
}

.collapsible .collapsible-header .pull-left.open:before{
  content: '\2212';
  margin-right: 10px;
}

.collapsible > .collapsible-body {
  display: none;
  padding: 6px;
  background: white;
  border-radius: 0;
  padding: 10px 15px;
}