header {

  .headerUpperPart {
    padding-top: 40px;
    background: white;
  }

  .headerLogo {
    float: left;
    margin-left: 10px;
    position: relative;
    z-index: 999;

    img {
      max-width: 180px;
    }
  }

  .headerMegaMenu {
    float: left;
    width: auto;
    .megamenu {
      background-color: inherit;

      >.container {
        width: auto;
      }
    }
  }

  .headerSearch {
    float: left;
    margin-top: 5px;
    width: 180px;;
  }
}

@media (min-width: 768px) {
  header {

    .headerLogo {
      margin-left: 0;
    }

    .headerSearch {
      margin-top: 5px;
    }

    .container {
      height: 50px;
      width: 960px;
    }
  }
}