@import '/etc/designs/acl/clientlib-framework/framework.less';

@background: #474542;
@inactiveBackground: #ffffff;
@menuBackground: #ffffff;
@mobile-lvl2-background: #ffffff;
@mobile-lvl3-background: #ffffff;
@border: #A3A298;
@lvl2-link: #D1CAC5;
@text: #002F6B;
@outline: #A5C7FE;
@container: #0077C8;


header{
  position: relative;
  z-index: 100;
}

.megamenu {
    width: 100%;
    min-height: 50px;
    font-family: "Allianz Sans Regular";
    background-color: @inactiveBackground;
    margin-left: 20px;

    .clearfix;

    .mobileButton {
        position: inherit;
        top: 10px;
        right: 15px;
        padding: 10px;
        color: @text;
        background-color: @inactiveBackground;
    }

    .collapseList {
        display: none;
    }

    input[type="checkbox"]:focus + label {
        outline: @outline solid 2px;
        outline-offset: -1px;
    }

    input[type="checkbox"] + label:after {
        position: relative;
        float: right;
        content: "+";
    }

    input[type="checkbox"]:checked + label {
        &:after {
            content: "-";
        }

        & + .lvl2-container {
            display: block;
        }

        & + .lvl3-container {
            display: block;
        }

        .expandList {
            display: none;
        }

        .collapseList {
            display: block;
        }
    }

    li {
        &:last-child {
            border-bottom: 0;
        }
    }

    ul {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0;
        list-style: none;
        background-color: @menuBackground;
        z-index: 500;
    }

    a,
    label {
        display: block;
        padding: 0;
        margin: 0;
        color: @text;
    }

    h4 {
        margin: 0;
        font-size: 15px;
    }

    .lvl1-list {
        margin-top: 35px;
        display: none;
    }

    .lvl1-item {
        min-width: 60px;
        font-size: 16px;
        color: @text;

        a,
        label {
            padding: 15px 20px;
            text-decoration: none;
        }
    }

    .lvl2-container,
    .lvl3-container {
        display: none;
        left: 0;
        right: 0;
        z-index: 500;
    }

    .lvl2-container .container {
        padding: 0;
    }

    .lvl2-list,
    .lvl3-list {
        position: relative;
    }

    .lvl2-list {
        background-color: @mobile-lvl2-background;
    }

    .lvl2-item {
        font-weight: normal;

        a {
            padding: 15px 30px 15px 40px;
            font-size: 15px;
            text-decoration: none;
        }

        > a {
            color: @text;
            text-decoration: none;
        }

        p,
        label {
            padding: 15px 25px 15px 40px;
            color: @text;
            font-size: 15px;
        }

        a:hover {
          color: rgba(255, 255, 255, 0.8);
        }
    }

    .lvl3-list {
        background-color: @mobile-lvl3-background;
    }

    .lvl3-item {
        a,
        label {
            padding: 15px 25px 15px 50px;
            text-decoration: none;
        }
    }


    /*** menu active ***/
    #mobile-show + label:after {
        content: "";
    }

    #mobile-show:checked + label {
        color: @text;
        background-color: @menuBackground;

        &:after {
            content: "";
        }

        & + .lvl1-list {
            display: block;
        }
    }

    .desktopShow {
        display: none;
    }
}


.media(md-, {
    .megamenu {

        label {
            min-width: 50px;
        }

        ul {
            position: static;
        }

        input[type="checkbox"]:checked + label {
            color: @text;
            background-color: @menuBackground;
        }

        input[type="checkbox"] + label:after,
        input[type="checkbox"]:checked + label:after {
            content: "";
        }

        .mobileButton {
            display: none;
        }

        .lvl1-list {
            margin: 0;
            display: block;
            background-color: @inactiveBackground;
        }

        .lvl1-item {
            float: left;

            &>a,
            &>label {
                color: @text;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 0.9375rem;
            }

            &:hover {
                .lvl2-container {
                    display: block;
                    min-width: 100px;
                }

                >label {
                  border-bottom: 4px solid #002F6B;
                }

                >a{
                  border-bottom: 4px solid @text;
                }
            }
        }

        .lvl2-container {
            position: absolute;
            top: auto;
            padding: 2.75rem 0;
            background-color: @container;
        }

        .lvl2-item {
            float: left;
            width: 24.5%;
            padding: 0 20px 0;

            &:last-child {
                border-right: none;
            }

            a,
            h4,
            label {
                padding: 0;
                color: white;
            }

            h4,
            label {
                font-weight: bold;
            }

            ul {
                padding: 10px;
            }
        }

        .lvl3-container {
            display: block;
            padding: 10px 0 0 0;
        }

        .lvl3-list {
            background-color: @container;
        }

        .lvl3-item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .desktopHidden {
        display: none !important;
    }

    .desktopShow {
        display: block !important;
    }
});

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}