@light-gray: #bbb;
@padding: 5px;
.search{
  max-width: 300px;
}
.search-form {
  position: relative;
  z-index: 1;
  line-height: 0;
  #searchQuery {
    border-radius: 0.25rem;
    border-color: transparent;
    background-color: inherit;
    width: 0;
    color: #555555;
    &:focus, &:hover {
      background-color: inherit !important;
    }
    transition: border-color 400ms ease, width 400ms ease;

    &.extended {
      border-color: #F0F0F0;
      width: 100%;
    }
  }


  ul.suggestions {
    display: none;
  }
  .input-group-addon{
    position: absolute;
    border: none;
    background: inherit;
    left: 0;
    transition: left 400ms ease;
    &.extended {
      left: 84%;
    }
  }
  .search-submit{
    position: absolute;
    display: block;
    right: 0; top: 0;
    width: 100%; height: 100%;
    background: no-repeat center transparent url(/etc/designs/allianz/icons/search-icon.svg);
    background-size: 20px;
    border: 0 none;
    text-indent: -9999px;
  }
}