@import '/etc/designs/acl/clientlib-framework/framework.less';

section {
    &,
    & > * {
        position: relative;
    }
}

.section > section {
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

.gutter-large{
  padding: 15px 30px 15px 30px;
}
.gutter-medium{
  padding: 10px 15px 10px 15px;
}
.gutter-small{
  padding: 5px 10px 5px 10px;
}

.list.each(left right center justify, {
    .text-@{value}{
        text-align: @value;
    }
});


@text-colors:
text-color-inherit inherit,
text-color-black #333,
text-color-gray #414141,
text-color-light-gray #ccc,
text-color-white #fff,
text-color-blue #0077C8,
text-color-dark-blue #002F6B;


@bg-colors:
full-white #fff,
cloud-white #ecf0f1,
silver-gray #bdc3c7,
asphalt-blue #ecf0f1,
midnight-blue #2c3e50,
concrete-gray #95a5a6,
asbestos-gray #7f8c8d,
turquoise-green #1abc9c,
sea-green #16a085,
emerald-green #2ecc71,
nephritis-green #27ae60,
sunflower-yellow #f1c40f,
sunset-orange #f39c12,
carrot-orange #e67e22,
pumpkin-orange #d35400,
alizarin-red #e74c3c,
pomegranate-red #c0392b,
amethyst-purple #9b59b6,
wisteria-purple #8e44ad;

.map.each(@text-colors, {
    .@{key} {
        color: @value;
    }
});

.map.each(@bg-colors, {
    .bg-@{key} {
        &,
        &:before {
            background: @value;
        }
    }
});