.cbgroup legend {
    font-size: inherit;
    margin: 0;
    border: 0;
}

.cbgroup-horizontal label {
    display: inline-block;
    margin-right: 20px;
}

.cbgroup-vertical label {
    display: block;
}