<div class="section">
    <section class="text-color-inherit text-inherit bg-size-cover bg-align-center bg-overlay-0">
        <div class="container component-section">
            <div data-sly-test="${resource['social-share/jcr:primaryType']}" data-sly-resource="social-share"></div>
        </div>
    </section>
</div>
