<div>
    <header>
        <sly data-sly-resource="header"></sly>
    </header>

    <div data-sly-resource="layoutcontainer"></div>

    <footer>
        <div data-sly-resource="footer"></div>
    </footer>
</div>