<div class="cq-placeholder cq-marker-start" data-sly-test="${wcmmode.edit || wcmmode.design}" data-emptytext="Grouping"></div>
<div class="${grouping.backgroundColor} ${grouping.spacing}"
     data-sly-use.grouping="nl.tricode.aem.core.models.grouping.Grouping">
    <div class="group-inner" data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}"></div>
</div>