.social-icon {
  margin-left: 0;
  margin-right: 10px;
}

.social-icon-container{
  min-height: 16px;
  width: auto;
}

.social-icon {
  background: left top;
  background-size: contain;
  width:28px;
  height:28px;
  display: block;
  float: left;
  margin-left:10px;

  &.facebook {
    background-image:url(/etc/designs/acl/icons/social/Facebook.svg);
  }
  &.instagram {
    background-image:url(/etc/designs/acl/icons/social/Instagram.svg);
  }
  &.twitter {
    background-image:url(/etc/designs/acl/icons/social/Twitter.svg);
  }
  &.youtube {
    background-image:url(/etc/designs/acl/icons/social/YouTube.svg);
  }
  &.googleplus {
    background-image:url(/etc/designs/acl/icons/social/Google+.svg);
  }
  &.linkedin {
     background-image:url(/etc/designs/acl/icons/social/Linkedin.svg);
  }
}