<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder section" data-emptytext="Header"></div>

<div class="headerUpperPart">
    <div class="container">
        <div data-sly-resource="logo" class="headerLogo"></div>

        <div class="header-right">
            <div data-sly-resource="languageselector" class="headerLanguageSelector"></div>

            <div data-sly-resource="socialicons" class="headerSocial"></div>

            <div data-sly-resource="search" class="headerSearch"></div>
        </div>

    </div>
</div>

<div data-sly-resource="megamenu"></div>

<!--/* Only show the breadcrumb when it is needed (homepage doesn't have it). */-->
<sly data-sly-test="${resource['breadcrumb/jcr:primaryType'] && !currentPage.properties.hideBreadcrumbs}" data-sly-unwrap data-sly-resource="breadcrumb"></sly>