<div data-sly-use.recaptcha="nl.tricode.aem.core.models.recaptcha.RecaptchaModel" data-sly-unwrap>

    <h3>${properties.title}</h3>
    <p>${properties.description}</p>

    <script src="https://www.google.com/recaptcha/api.js"></script>

    <div class="g-recaptcha" data-sitekey="${recaptcha.siteKey}" data-callback="validResponseHandler();"></div>

</div>