<sly data-sly-use.title="nl.tricode.aem.core.models.title.TitleComponent" data-sly-unwrap>
    <div class="alert alert-warning" data-sly-test="${title.status && wcmmode.edit}">
        <strong>${"Warning! More than one H1 on the page" @ i18n}!</strong>
    </div>
    <h2 data-sly-element="${title.element}" class="text-${title.textAlign} text-color-${title.textColor}">${title.text}</h2>
</sly>