.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        opacity: 0;

        -webkit-transition: -webkit-transform .3s ease-out, opacity .15s linear;
        -o-transition: -o-transform .3s ease-out, opacity .15s linear;
        transition: transform .3s ease-out, opacity .15s linear;
    }

    &.fadeIn .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }

    .modal-header {
        padding: 20px 15px;

        h4 {
            margin: 0;
        }

        .close {
            float: right;
            background-color: transparent;
            border: none;
            font-size: 20px;
            line-height: 1;
            color: #888;

            &:hover {
                cursor: pointer;
                color: #222;
            }
        }
    }

    .modal-body {
        padding: 15px;
    }

    .modal-footer {
        padding: 15px;

        button {
            float: right;
        }
    }
}

body.modal-open {
    overflow: hidden;
}

.modal-open {
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0;

    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-backdrop.fadeIn {
    opacity: .5;
}

.modal-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}




@media (min-width: 768px) {

    .modal {
        .modal-dialog {
            width: 600px;
            margin: 30px auto;
        }
    }
}
