<sly data-sly-use.login="nl.tricode.aem.core.models.login.LoginModel" data-sly-unwrap>
    <input id="endpointUrl" type="hidden" value="${login.endpoint}">

    <div class="login-component">
        <div class="login-field" data-sly-resource="${'usernameInput' @ resourceType='/apps/acl/components/content/forms/text'}"></div>
        <div class="login-field" data-sly-resource="${'passwordInput' @ resourceType='/apps/acl/components/content/forms/password'}"></div>
        <button id="loginButton" class="btn">Login</button>
    </div>

    <div class="user-information">
        <div class="user-information-field">
            Welcome <span class="firstName"></span> <span class="lastName"></span>
        </div>

        <button id="logoutButton" class="btn">Logout</button>
    </div>
</sly>