@import '/etc/designs/acl/clientlib-framework/mixins/mixins.less';

@option-hover: @brand-primary;
@select-hover: darken(@input-bg - #050505, 4);


.select-container {
    position: relative;

    &.select-focused {
        outline: 1px dotted @brand-primary;
    }

    &:hover {

        .select-placeholder {
            background-color: @select-hover;
        }

        .options-container {
            background-color: @select-hover !important;
        }
    }
}

.select-placeholder {
    display: none;
    margin: 0;
    padding: 7px 10px;

    &:after {
        content: "";
        position: absolute;
        border: 5px solid transparent;
        border-top-color: #333;
        height: 0;
        top: 50%;
        margin-top: -3px;
        right: 5px;
        left: auto;
        margin-right: 5px;
        pointer-events: none;
    }
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    height: auto !important;
    width: 100%;
    padding: 0 0 3px 0 !important;
    margin: 0;
    line-height: 1.4 !important;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .1);

    .select-container:not(.select-open) & {
        overflow: hidden;
        padding: 0 !important;
        height: 0 !important;
        min-height: 0;
    }

    .option {
        display: block;
        padding: 0 7px;
        white-space: nowrap;
        cursor: pointer;
    }

    label:hover,
    input:focus + label {
        background-color: @option-hover;
    }
}

.select-open {
    z-index: 1;
}