<sly data-sly-use.radiobuttonModel="nl.tricode.aem.core.models.form.RadioButtonModel" data-sly-unwrap>
    <div class="cq-placeholder cq-marker-start" data-sly-test="${wcmmode.edit || wcmmode.design}"
         data-emptytext="Radiobutton component"></div>

    <label class="input-label ${radiobuttonModel.required ? 'required' : ''}" data-sly-test="${!radiobuttonModel.hideTitle}">
        ${radiobuttonModel.title}
    </label>
    <div class="input-group cgroup cgroup-vertical"
         required="${radiobuttonModel.required}"
         data-required-msg="${radiobuttonModel.requiredMessage}">

    <sly data-sly-list.radiobuttonItem="${radiobuttonModel.radioButtonItems}">
        <label class="c-item">
            <input type="radio"
                   id="id_${radiobuttonModel.name}_${radiobuttonItemList.count}"
                   name="${radiobuttonModel.name}"
                   value="${radiobuttonItem.value}">
            <span class="radio-label">${radiobuttonItem.text}</span>
        </label>
    </sly>
    </div>
    <div class="error-msg"></div>
</sly>
