.true-blue {
  background-color: #0077C8;
}

.full-white {
  background-color: #ffffff;
}

.columns-fullwidth {
  width: 100%;
}

.columns-with-border {
  width: 99%;
}

@media (min-width: 768px) {
  .dotted-border > div + div{
    border-left: 1px dashed;
  }
}

.section-part {
  margin: 10px 0;
  border: 2px solid gray;
  text-align: center;
  padding-top: 15px;
  font-size: 12px;
}
