<div data-sly-unwrap data-sly-use.banner="nl.tricode.aem.core.models.banner.Banner">
    <a data-sly-test="${banner.link}" href="${banner.link}">
        <div class="col-xs-12 banner_main ${banner.backgroundRepeat}"
             style="background-image: url('${banner.fileReference @ context='styleString'}'); height: ${banner.height @ context='styleString'}px;">
            <div class="banner-inner">
                <div data-sly-test="${wcmmode.edit || wcmmode.design}" class="banner_edit_mode"></div>
                <div class="banner-text" data-sly-resource="${'bannerText' @ resourceType='acl/components/content/text'}"></div>
            </div>
        </div>
    </a>
    <div data-sly-test="${!banner.link}" class="col-xs-12 banner_main ${banner.backgroundRepeat}"
         style="background-image: url('${banner.fileReference @ context='styleString'}'); min-height: ${banner.height @ context='styleString'}px;">
        <div class="banner-inner">
            <div data-sly-test="${wcmmode.edit || wcmmode.design}" class="banner_edit_mode"></div>
            <sly data-sly-include="partials/inner-content.html" data-sly-unwrap/>
        </div>
    </div>
</div>