<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder section" data-emptytext="Section"></div>
<section data-sly-use.section="nl.tricode.aem.core.models.section.SectionModel"
         class="text-color-${section.textColor} text-${section.textAlign} bg-size-${section.bgSize} bg-align-${section.bgAlign} bg-overlay-${section.overlayOpacity} ${section.overlap}"
         style="background-image: url(${section.fileReference  @ context='unsafe' })">
    <div class="${section.layout} bg-${section.bgColor} ${section.gutter}">
        <sly data-sly-resource="${'sectionPar' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>
</section>