#searchResults {
    color: #555;
    margin: 30px 0;

    > p {
        font-size: 25px;
    }

    a {
        color: #3281c6;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .searchterm {
        background-color: #Fbdf57;
    }

    .searchResults_list {
        margin: 0;

        li {
            padding: 15px 0;
        }

        .excerpt {
            margin-top: 5px;
            color: #888;
        }
    }

    .searchResults_pagination {
        float: left;
        margin-top: 25px;
        padding: 0;
        list-style: none;

        li {
            float: left;
            padding: 8px 12px;
            border: 1px solid #ccc;
            border-right: 0;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-right: 1px solid #ccc;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &.active {
                background-color: #3281c6;
                border-color: #3281c6;

                a {
                    color: white;
                }
            }
        }
    }
}