<sly data-sly-test="${wcmmode.edit}" data-sly-unwrap>
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='acl.lightbox.editmode'}" data-sly-unwrap/>
</sly>

<sly data-sly-use.lightboxModel="nl.tricode.aem.core.models.modal.Modal"  data-sly-unwrap data-sly-test.modalId="${lightboxModel.id}-modal">
    <!--/* Trigger the modal with a button */-->
    <button type="button" class="btn btn-open-modal" data-target="#${modalId}">${lightboxModel.buttonText @ i18n}</button>

    <!--/*Modal -->
    <div class="modal" id="${modalId}" role="dialog">
        <div class="modal-dialog" >

            <!-- /* Modal content */-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--/* Include Modal Header */-->
                    <sly data-sly-include="modal-title.html" data-sly-unwrap/>
                </div>

                <div class="modal-body" >
                <!--/* Include Modal Body */-->
                    <sly data-sly-include="modal-body.html" data-sly-unwrap/>
                </div>

                <div class="modal-footer">
                    <!--/* Include Modal Footer */-->
                    <sly data-sly-include="modal-footer.html" data-sly-unwrap/>
                </div>
            </div>

        </div>
    </div>
</sly>