<sly data-sly-use.lightboxModel="nl.tricode.aem.core.models.modal.Modal" data-sly-unwrap>
    <sly data-sly-test.modalCloseText="${lightboxModel.modalClose == null ? 'Close' : lightboxModel.modalClose}"
         data-sly-unwrap>
        <!--/* It is required to use  class="btn btn-default"  if you override the modal-footer.html file*/-->
        <div class="clearfix">
            <button type="button" class="btn btn-default" data-dismiss="modal">${modalCloseText @ i18n}</button>
        </div>
    </sly>
</sly>