<sly data-sly-use.lightboxModel="nl.tricode.aem.core.models.modal.Modal" data-sly-unwrap>
    <sly data-sly-test.modalHeaderText="${lightboxModel.modalHeader == null ? 'Header' : lightboxModel.modalHeader}"
         data-sly-unwrap>
        <!--/* It is required to use  class="modal-title"  if you override the modal-title.html file*/-->
        <h4 class="modal-title">${modalHeaderText @ i18n}</h4>
    </sly>
</sly>