<div class="footer"
     data-sly-use.footer="nl.tricode.aem.core.models.footer.FooterModel">
    <nav class="navbar" role="navigation">
        <div class="container">
            <div data-sly-test="${properties.footerTitle}">
                <div class="row"
                     data-sly-resource="${'content1' @ resourceType='wcm/foundation/components/title'}">
                </div>
            </div>
            <div class="row">
                <div class="footer-list col xs-12 sm-3"
                     data-sly-resource="${'content1' @ resourceType='wcm/foundation/components/iparsys'}">
                </div>
                <div class="footer-list col xs-12 sm-3"
                     data-sly-resource="${'content2' @ resourceType='wcm/foundation/components/iparsys'}">
                </div>
                <div class="footer-list col xs-12 sm-3"
                     data-sly-resource="${'content3' @ resourceType='wcm/foundation/components/iparsys'}">
                </div>
                <div class="footer-list col xs-12 sm-3"
                     data-sly-resource="${'content4' @ resourceType='wcm/foundation/components/iparsys'}">
                </div>
            </div>
        </div>
    </nav>
    <div data-sly-resource="footer-socket" class="socket"></div>
</div>