<sly data-sly-unwrap data-sly-use.mendix="nl.tricode.aem.core.models.aemmendix.AemMendixComponent">
    <p>AEM - Mendix Integration</p>
    <div id="content"></div>
    <link rel="stylesheet" type="text/css" href="/mendix/lib/bootstrap/css/bootstrap.min.css?636130964103328590">
    <link rel="stylesheet" type="text/css" href="/mendix/styles/css/lib/lib.css?636130964103328590">
    <link rel="stylesheet" type="text/css" href="/mendix/styles/css/custom/custom.css?636130964103328590">
    <link rel="stylesheet" type="text/css" href="/mendix/mxclientsystem/mxui/ui/mxui.css?636130964103328590">
    <script>
        dojoConfig = {
            baseUrl: "/mendix/mxclientsystem/dojo/",
            appbase: "https://" + window.location.hostname + "${mendix.app @ context='scriptString'}",
            cacheBust: "636130964103328590",
            rtlRedirect: "index-rtl.html"
        };

    </script>
    <script type="text/javascript" src="/mendix/mxclientsystem/mxui/mxui.js?636130964103328590" defer></script>
</sly>