/* Temporary quick css to make the homepage look better for the demo. */
.acl-homepage {
    background: white;

    .col-xs-12.banner_main.background-fit {
        display: none;
    }

    .video-background-preview {
        background-color: black;

        .text p {
            font-size: 40px;

            &:last-child {
                font-size: 20px;
            }
        }

        .cover .image.parbase {
            margin-top: 10vh;
        }
    }

    .columns .textimage-top img {
        border-radius: 50px;
    }
}