<div data-sly-use.hierarchymenu="nl.tricode.aem.core.models.megamenu.MenuItemModel" class="megamenu">
    <div class="container">

        <input type="checkbox" id="mobile-show" class="collapseOut-button visuallyhidden" aria-haspopup="true">
        <label for="mobile-show" class="mobileButton"> &#9776;</label>

        <sly data-sly-use.navmenu="nl.tricode.aem.core.models.megamenu.MenuItemModel"
             data-sly-call="${lvl1 @ navmenu=navmenu}" data-sly-unwrap>
        </sly>
    </div>
</div>


<template data-sly-template.lvl1="${ @ navmenu}">
    <ul data-sly-list.mainpage="${navmenu.items}" class="lvl1-list clearfix">

        <!--/* if mainpage has no subpages */-->
        <li data-sly-test="${!mainpage.subPages}" class="lvl1-item">
            <a href="${mainpage.path}">${mainpage.title}</a>
        </li>

        <!--/* if mainpage has subpages */-->
        <li data-sly-test="${mainpage.subPages}" data-sly-test.lvl1id="${mainpage.title}_${mainpageList.index}" class="lvl1-item">

            <input type="checkbox" id="${lvl1id}" class="visuallyhidden" aria-haspopup="true" aria-controls="${lvl1id}_lvl2">
            <label for="${lvl1id}">
                <span class="visuallyhidden expandList">
                    ${"expand_the_list:" @ i18n}
                </span>
                <span class="visuallyhidden collapseList">
                    ${"collapse_the_list:" @ i18n}
                </span>
                ${mainpage.title}
            </label>

            <div data-sly-call="${lvl2 @ mainpage=mainpage}" id="${lvl1id}_lvl2" class="lvl2-container" role="group"></div>
        </li>
    </ul>
</template>


<template data-sly-template.lvl2="${ @ mainpage}">
    <div class="container">
    <ul data-sly-list.subpage="${mainpage.subPages}" class="lvl2-list">

        <!--/* if subpage has no subpages */-->
        <li data-sly-test="${!subpage.subPages}" class="lvl2-item">
            <a href="${subpage.path}">${subpage.title}</a>
        </li>

        <!--/* if subpage has subpages */-->
        <li data-sly-test="${subpage.subPages}" data-sly-test.lvl2id="${mainpage.title}_${subpage.title}_${subpageList.index}"
            class="lvl2-item">

            <h4 class="desktopShow">${subpage.title}</h4>

            <input type="checkbox" id="${lvl2id}" class="visuallyhidden desktopHidden" aria-haspopup="true" aria-controls="${lvl2id}_lvl3">
            <label for="${lvl2id}" class="desktopHidden">
                <span class="visuallyhidden expandList">
                    ${"expand_the_list:" @ i18n}
                </span>
                <span class="visuallyhidden collapseList">
                    ${"collapse_the_list:" @ i18n}
                </span>
                ${subpage.title}
            </label>

            <div data-sly-call="${lvl3 @ subpage=subpage}" id="${lvl2id}_lvl3" class="lvl3-container" role="group"></div>
        </li>
    </ul>
    </div>
</template>


<template data-sly-template.lvl3="${ @ subpage}">
    <ul data-sly-list.subsubpage="${subpage.subPages}" class="lvl3-list">

        <!--/* subsubpage will not show more subpages */-->
        <li class="lvl3-item">
            <a href="${subsubpage.path}">${subsubpage.title}</a>
        </li>
    </ul>
</template>