<sly data-sly-use.divider="nl.tricode.aem.core.models.divider.DividerModel" data-sly-unwrap>
    <div class="cq-placeholder cq-marker-start" data-sly-test="${(wcmmode.edit || wcmmode.design) && divider.style != 'divider-dotted'}" data-emptytext="Divider"></div>
    <div class="hidden-xs ${divider.height} ${divider.style}"></div>
</sly>