<sly data-sly-resource="section">
    <sly data-sly-resource="sectionPar">
        <sly data-sly-resource="columns">
            <sly data-sly-resource="field1">
                <sly data-sly-resource="grouping">
                    <sly data-sly-resource="par">
                        <sly data-sly-resource="breadcrumb"/>
                        <sly data-sly-resource="title"/>
                        <sly data-sly-resource="text"/>
                    </sly>
                </sly>
            </sly>
            <sly data-sly-resource="field2">
                <sly data-sly-resource="grouping">
                    <sly data-sly-resource="par">
                        <sly data-sly-resource="title"/>
                        <sly data-sly-resource="linklist"/>
                    </sly>
                </sly>
            </sly>
        </sly>
    </sly>
</sly>
<sly data-sly-resource="divider"/>