<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        data-sly-use.sitemap="nl.tricode.aem.core.models.sitemap.SitemapComponent"
        data-sly-list.sitemapElement="${sitemap.items}">
    <url>
        <loc>${sitemapElement.location}</loc>
        <lastmod>${sitemapElement.lastModified}</lastmod>
        <changefreq>${sitemapElement.changeFrequency}</changefreq>
        <priority>${sitemapElement.priority}</priority>
    </url>
</urlset>