.greaterthanliststyle ul li{
  list-style: none;
  padding: 0;
}

.greaterthanliststyle ol li{
  list-style: none;
  padding: 0;
}

.greaterthanliststyle li:before {
  content: '\276d';
  display: inline-block;
  margin: 0 1em;
}

.greaterthanliststylebold ul li{
  list-style: none;
  padding: 0;
}

.greaterthanliststylebold ol li{
  list-style: none;
  padding: 0;
}

.greaterthanliststylebold li:before {
  content: '\276d';
  display: inline-block;
  margin: 0 1em;
}

.checkmarkliststyle ul li{
  list-style: none;
  padding: 0;
}

.checkmarkliststyle ol li{
  list-style: none;
  padding: 0;
}

.checkmarkliststyle li:before {
  content: '\2713';
  display: inline-block;
  margin: 0 1em;
}

.text-color-grey{
  color: #606060;
}
.text-color-white{
  color: #FFFFFF;
}
.text-color-blue{
  color: #003566;
}

div.paragraph small {
  font-size: 12px;
  margin: 0 0 10px;
}

div.paragraph em {
  font-size: 16px;
  font-style: normal;
  margin: 0 0 10px;
}