<sly data-sly-use.links="nl.tricode.aem.core.models.linklist.LinkListModel" data-sly-unwrap>
    <div class="alert alert-warning" data-sly-test="${!links.configured && wcmmode.edit}">
        ${"Please add links." @ i18n}
    </div>
    <div data-sly-test="${links.configured}" class="text-${links.align} link-${links.bulletStyle}">
        <ul data-sly-list.link="${links.listItems}">
            <li class="text-color-${links.textColor}">
                <!--/*todo The data-sly-unwrap is because the div breaks the design on author should be fixed in the future*/-->
                <div class="link-list-item" data-sly-unwrap="${wcmmode.edit}">
                    <a href="${link.link}" target="${link.newPage ? '_blank' : '_self'}"
                       class="text-color-${links.textColor} link-font-weight-${links.fontWeight} link link-${links.size} ${links.hoverEffect}"
                       title="${link.title}" aria-label="${link.title}">${link.text}</a>
                </div>
            </li>
        </ul>
    </div>
</sly>