<div class="container">
    <div class="row">

        <div id="searchResults">
            <sly data-sly-use.search="nl.tricode.aem.core.models.searchresults.SearchResultModel" data-sly-unwrap></sly>

            <div class="alert alert-warning" data-sly-test="${wcmmode.edit && !search.keywords}">Search results will be displayed here</div>

            <p data-sly-test="${search.keywords}">${search.totalMatches} ${"results for search:" @ i18n} <mark class="searchterm">${search.keywords}</mark></p>

            <ul class="searchResults_list" data-sly-test="${search.totalMatches > 0}" data-sly-list.result="${search.result}">
                <li>
                    <a href="${result.path}">${result.title @ context = 'html'}</a>
                    <p class="excerpt">${result.excerpt @ context = 'html'}</p>
                </li>
            </ul>

            <ul class="searchResults_pagination" data-sly-test="${search.totalMatches > 0}" data-sly-list.pagination="${search.paginationItems}">
                <li class="${pagination.active ? 'active' : ''}"><a href="${pagination.link}">${pagination.title}</a></li>
            </ul>
        </div>

    </div>
</div>