.navbar-social {
  margin: 15px !important;
}

.social-share {
  margin-top: 10px;
}

.social-share .social-share-icon {
  margin-left: 0;
  margin-right: 10px;
}

.social-share-icon-container{
  min-height: 28px;
  margin: 5px 0 5px 0;
}

.social-share-label {
  float: left;
  min-height: 28px;
  line-height: 28px;
  margin-right: 10px;
}

.social-share-icon {
  background: left top;
  background-size: contain;
  width:28px;
  height:28px;
  display: block;
  float: left;
  margin-left:10px;

  &.facebook {
    background-image:url(/etc/designs/acl/icons/social/Facebook.svg);
  }
  &.twitter {
    background-image:url(/etc/designs/acl/icons/social/Twitter.svg);
  }

  &.googleplus {
    background-image:url(/etc/designs/acl/icons/social/Google+.svg);
  }
}