/* Footer component */

@footerLinksColor: #FFFFFF;
@footerLinksColorHover: #BBBBBB;
@footerLinkTitle: #ccc;
@footerBackgroundColorLight: #666666;
@footerBackgroundColorDark: #333333;

.acl-footer {
    margin-top: 50px;
    padding-top: 24px;
    color: @footerLinksColor;

    a {
        color: @footerLinksColor;
        text-decoration: none;

        &:hover {
            color: @footerLinksColorHover;
        }
    }

    .page__copyright {
        font-size: 12px;
        color: @footerLinkTitle;
    }

    .link:first-child {
        margin-bottom: 5px;

        a {
            color: @footerLinkTitle;
        }
    }
}

.bg-color-light {
    background-color: @footerBackgroundColorLight;
}

.bg-color-dark {
    background-color: @footerBackgroundColorDark;
}

.footer-link-big {
    font-size: 20px;
}

.footer-link-small {
    font-size: 14px;
}
