.grouping_bg_color_transparent {
  .group-inner {
    background-color: transparent;
    overflow: hidden;
  }
  &:after {
    border-top-color: transparent;
  }
}

.grouping_bg_color_blue {
  .group-inner {
    background-color: #0077C8;
    overflow: hidden;
  }
  &:after {
    border-top-color: #0077C8;
  }
}

.grouping_bg_color_dark_blue {
  .group-inner {
    background-color: #002F6B;
    overflow: hidden;
  }
  &:after {
    border-top-color: #002F6B;
  }
}


.grouping_bg_color_black {
  .group-inner {
    background-color: black;
    overflow: hidden;
  }
  &:after {
    border-top-color: black;
  }
}

.grouping_bg_color_white {
  .group-inner {
    background-color: #ffffff;
    overflow: hidden;
  }
  &:after {
    border-top-color: #ffffff;
  }
}

.grouping_bg_color_gray {
  .group-inner {
    background-color: #454545;
    overflow: hidden;
  }
  &:after {
    border-top-color: #454545;
  }
}

.grouping_padding_small {
  padding: 5px;
}

.grouping_padding_medium {
  padding: 20px;
}

.grouping_padding_big {
  padding: 80px;
}

.cutEdge:after {
  border-top-style: solid;
  border-top-width: 2.1875rem;
  border-right: 2.1875rem solid transparent;
  content: " ";
  display: block;
}

@media (max-width: 767px){
  .grouping {
    margin-bottom: 20px;
  }

  .group-inner {
      .group-inner {
        padding: 0;
      }
  }
}