@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%); // Link hover color set via `darken()` function.
@link-hover-decoration: underline; //** Link hover decoration.


//== Container sizes

// Small screen / tablet
@container-phone:              (@screen-sm + @grid-gutter-width);
@container-tablet:             (@screen-md + @grid-gutter-width);
@container-desktop:            (@screen-lg + @grid-gutter-width);