// #----------------------------------------------------
// # Variable Defaults                                 #
// #----------------------------------------------------

@grid-columns:          12;
@grid-gutter-width:     30px; //Padding between columns.

@container-width:       1400px;

// Screen sizes
@screen-sm:             576px;
@screen-md:             768px;
@screen-lg:             992px;
@screen-xl:             1200px;

@screen-size-names:     sm md lg xl;

/*@screen-sizes:
    sm 576px,
    md 768px,
    lg 992px,
    xl 1200px;*/

//== Colors

@gray-base:             #888;
@gray-darker:           lighten(@gray-base, 13.5%);
@gray-dark:             lighten(@gray-base, 20%);
@gray:                  lighten(@gray-base, 33.5%);
@gray-light:            lighten(@gray-base, 46.7%);
@gray-lighter:          lighten(@gray-base, 93.5%);

@brand-primary:         #6f5499; // #337ab7
@brand-secondary:       #34495e;
@brand-success:         #5cb85c;
@brand-info:            #E8E6E6;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

//## Settings for some of the most global styles.

@body-bg:               #fff; // Background color for `<body>`.
@text-color:            #333; // Global text color on `<body>`.
@btn-default-bg: 		@brand-primary;
@btn-primary-bg: 		@brand-primary;
@btn-warning-bg: 		@brand-warning;
@btn-success-bg: 		@brand-success;
@btn-info-bg: 			@brand-info;
@btn-danger-bg: 		@brand-danger;


//=============
//== Typography
//=============

@font-size-base:            16px;
@font-size-large:           ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:           ceil((@font-size-base * 0.75)); // ~12px

@font-size-h1:              floor((@font-size-base * 2.5)); // ~36px
@font-size-h2:              floor((@font-size-base * 2.125)); // ~30px
@font-size-h3:              ceil((@font-size-base * 1.5)); // ~24px
@font-size-h4:              ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:              @font-size-base;
@font-size-h6:              ceil((@font-size-base * 0.875)); // ~12px

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;


// -------------------------
// Form elements and buttons
// -------------------------

@btn-colors:
    primary @brand-primary,
    secondary @brand-secondary,
    success #449d44,
    info #5bc0de,
    warning @brand-warning,
    danger #c9302c;

@gui-sizes:
    sm 14px,
    md 16px,
    lg 20px,
    xl 24px;

@input-bg: #ddd;

//Values for the spacing helper classes. "5 5px" becomes ".mt-5 { 5px; }".
@spacingSizes:
    0 0,
    5 5px,
    10 10px,
    15 15px,
    20 20px;