.example {
  background-color: #0077C8;
  color: white;
  margin-bottom: 1.25rem;
  padding: 1.25rem 1.875rem 1.875rem;

  .h3, h3 {
    margin-bottom: 5px;
    color: #FFCD00;
    font-weight: 600;
    font-size: 1.125rem;
    font-family: "Allianz Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .example-value {
    color: #FFCD00;
    line-height: 2rem;
    font-size: 1.875rem;
  }

  .example-label {
    line-height: 2rem;
    clear: both;
    font-weight: normal;
    font-family: "Allianz Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .example {
    padding: 1.25rem 1.25rem;
    .example-data > span, .example-data > p {
      padding: 0;
    }
  }
}

