@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%); // Link hover color set via `darken()` function.
@link-hover-decoration: underline; //** Link hover decoration.

@body-bg:               #e5e5e5;
@body-bg-image:         url(/etc/designs/acl/backgrounds/bg.svg);